body, section, header, div, span, ul, li, p, img, figure, h3, a {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

a, div {
  -webkit-tap-highlight-color: transparent; }
  a:hover, a:focus, div:hover, div:focus {
    -webkit-tap-highlight-color: transparent; }

html {
  font-size: 37.5px;
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  height: 100%;
  width: 100%;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
  transform-style: preserve-3d;
  perspective: 10rem;
  background-color: #A4CCF0; }

ul {
  list-style: none;
  font-size: 0;
  white-space: nowrap; }
  ul li {
    display: inline-block;
    font-size: 1rem; }

section {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  text-align: center;
  font-size: 0;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  transform: translateX(0);
  transition: transform .8s; }

h3 {
  font-weight: normal;
  font-size: 0.693rem;
  /* 26/37.5 */ }

p {
  margin-top: 0.27rem;
  font-size: 0.373rem;
  /* 14/37.5 */ }

a {
  text-decoration: none; }

.btn {
  display: block;
  color: #fff; }
  .btn.btn-large {
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 8.03rem;
    height: 1.39rem;
    line-height: 1.39rem;
    font-size: 0.693rem;
    /* 26/37.5 */
    background: #5189BA;
    box-shadow: 0.05rem 0.11rem 0 #3D6086;
    border-radius: 0.45rem; }
  .btn.btn-small {
    display: inline-block;
    width: 3.28rem;
    height: 1.15rem;
    line-height: 1.15rem;
    font-size: 0.48rem;
    /* 18/37.5 */
    background: #84A3C2;
    border-radius: 0.427rem;
    /* 16/37.5 */ }

#btn-discuss, #btn-again {
  font-size: 0.48rem;
  /* 18/37.5 */ }

.card-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: .5rem 0; }
  .card-container::before, .card-container::after {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -0.533rem;
    /* -20/37.5 */
    width: 0;
    /* 40/37.5 */
    height: 0;
    border: 0.533rem solid;
    /* 20/37.5 */ }
  .card-container::before {
    left: -0.293rem;
    /* -11/37.5 */
    border-color: transparent #fff transparent transparent; }
  .card-container::after {
    right: -0.293rem;
    /* -11/37.5 */
    border-color: transparent transparent transparent #fff; }
  .card-container.card-front::before {
    left: 0;
    /* -11/37.5 */ }
  .card-container.card-front::after {
    right: 0;
    /* -11/37.5 */ }

.card-wrap {
  margin: 0 auto;
  width: 5.92rem;
  height: 7.73rem;
  transform-style: preserve-3d;
  perspective: 10rem; }

.card {
  background-color: #fff;
  width: 5.92rem;
  height: 7.73rem;
  border-radius: 0.37rem; }

.controller-area {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  width: 2rem;
  left: 0;
  z-index: 2; }
  .controller-area.next {
    right: 0;
    left: auto; }

.card-back .card, .card-list .card {
  position: absolute;
  font-size: 1.173rem;
  /* 44/37.5 */
  background-size: cover !important;
  overflow: hidden;
  transition: transform .8s; }
  .card-back .card.animating, .card-list .card.animating {
    position: fixed;
    transition: all .8s;
    pointer-events: none; }
  .card-back .card::before, .card-back .card::after, .card-list .card::before, .card-list .card::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: scaleY(1.1); }
  .card-back .card::before, .card-list .card::before {
    left: 0.34rem;
    bottom: -2.62rem;
    padding: 1.28rem; }
  .card-back .card::after, .card-list .card::after {
    left: 1.01rem;
    bottom: -1.95rem;
    padding: 1.28rem; }
  .card-back .card header, .card-list .card header {
    margin: 1rem auto 1.44rem;
    /* 54/37.5 */
    width: 1em;
    line-height: 1.05;
    white-space: normal; }
  .card-back .card figure, .card-list .card figure {
    font-size: 0; }
    .card-back .card figure::after, .card-list .card figure::after {
      content: "";
      display: block;
      margin: 0.08rem auto 0;
      height: 0.187rem;
      /* 7/37.5 */
      width: 1.333rem;
      /* 50/37.5 */
      background: rgba(0, 0, 0, 0.6);
      border-radius: 50%; }
  .card-back .card img, .card-list .card img {
    height: 2.293rem;
    /* 86/37.5 */
    position: relative;
    z-index: 1; }
  .card-back .card[data-index='0'], .card-list .card[data-index='0'] {
    transform: translateX(-2.9rem) translateZ(-4.2rem); }
  .card-back .card[data-index='1'], .card-list .card[data-index='1'] {
    transform: translateX(-1.4rem) translateZ(-2.1rem); }
  .card-back .card[data-index='2'], .card-list .card[data-index='2'] {
    transform: translateX(0) translateZ(0); }
  .card-back .card[data-index='3'], .card-list .card[data-index='3'] {
    transform: translateX(1.4rem) translateZ(-2.1rem); }
  .card-back .card[data-index='4'], .card-list .card[data-index='4'] {
    transform: translateX(2.9rem) translateZ(-4.2rem); }
.card-back .card-thing, .card-list .card-thing {
  box-shadow: 0 0.027rem 0.133rem 0rem #E5C04E, 0 0.053rem 0.053rem 0rem #E5C04E;
  /* 1/37.5, 5/37.5, 0/37.5, 2/37.5, 2/37.5, 0/37.5 */
  background: #FAEAB6 url(../img/card/thing.jpg); }
  .card-back .card-thing::before, .card-list .card-thing::before {
    border: 1.34rem solid #F4D578; }
  .card-back .card-thing::after, .card-list .card-thing::after {
    border: 0.67rem solid #E5C04E; }
.card-back .card-time, .card-list .card-time {
  box-shadow: 0 0.027rem 0.133rem 0rem #5581AE, 0 0.053rem 0.053rem 0rem #5581AE;
  /* 1/37.5, 5/37.5, 0/37.5, 2/37.5, 2/37.5, 0/37.5 */
  background: #D4E9FE url(../img/card/time.jpg); }
  .card-back .card-time::before, .card-list .card-time::before {
    border: 1.34rem solid #719DCA; }
  .card-back .card-time::after, .card-list .card-time::after {
    border: 0.67rem solid #5581AE; }
.card-back .card-place, .card-list .card-place {
  box-shadow: 0 0.027rem 0.133rem 0rem #C97AAA, 0 0.053rem 0.053rem 0rem #C97AAA;
  /* 1/37.5, 5/37.5, 0/37.5, 2/37.5, 2/37.5, 0/37.5 */
  background: #F0C2DE url(../img/card/place.jpg); }
  .card-back .card-place::before, .card-list .card-place::before {
    border: 1.34rem solid #D799BE; }
  .card-back .card-place::after, .card-list .card-place::after {
    border: 0.67rem solid #C97AAA; }
.card-back .card-people, .card-list .card-people {
  box-shadow: 0 0.027rem 0.133rem 0rem #9876B3, 0 0.053rem 0.053rem 0rem #9876B3;
  /* 1/37.5, 5/37.5, 0/37.5, 2/37.5, 2/37.5, 0/37.5 */
  background: #DECEEB url(../img/card/people.jpg); }
  .card-back .card-people::before, .card-list .card-people::before {
    border: 1.34rem solid #BDA1D4; }
  .card-back .card-people::after, .card-list .card-people::after {
    border: 0.67rem solid #9876B3; }
.card-back .card-event, .card-list .card-event {
  box-shadow: 0 0.027rem 0.133rem 0rem #40C1AD, 0 0.053rem 0.053rem 0rem #40C1AD;
  /* 1/37.5, 5/37.5, 0/37.5, 2/37.5, 2/37.5, 0/37.5 */
  background: #C3EEE7 url(../img/card/event.jpg); }
  .card-back .card-event::before, .card-list .card-event::before {
    border: 1.34rem solid #98E1D6; }
  .card-back .card-event::after, .card-list .card-event::after {
    border: 0.67rem solid #40C1AD; }

.card-front {
  margin-bottom: 1rem; }
  .card-front .card {
    margin: 0 auto; }
    .card-front .card img {
      margin: 0.747rem 0 0.16rem;
      /* 28/37.5 */
      width: 2.453rem;
      /* 92/37.5 */ }
    .card-front .card header {
      font-size: 1.013rem;
      /* 38/37.5 */
      line-height: .9; }
      .card-front .card header small {
        display: block;
        font-size: .4em; }
    .card-front .card p {
      margin-top: .5rem;
      font-size: 0.533rem;
      /* 20/37.5 */
      line-height: 1.1; }
      .card-front .card p span {
        margin-left: 0.133rem;
        /* 5/37.5 */ }
      .card-front .card p span:nth-child(1), .card-front .card p span:nth-child(5) {
        margin-left: 0; }
  .card-front .card-thing {
    box-shadow: 0 0.027rem 0.133rem 0rem #E5C04E, 0 0.053rem 0.053rem 0rem #E5C04E;
    /* 1/37.5, 5/37.5, 0/37.5, 2/37.5, 2/37.5, 0/37.5 */ }
  .card-front .card-time {
    box-shadow: 0 0.027rem 0.133rem 0rem #5581AE, 0 0.053rem 0.053rem 0rem #5581AE;
    /* 1/37.5, 5/37.5, 0/37.5, 2/37.5, 2/37.5, 0/37.5 */ }
  .card-front .card-place {
    box-shadow: 0 0.027rem 0.133rem 0rem #C97AAA, 0 0.053rem 0.053rem 0rem #C97AAA;
    /* 1/37.5, 5/37.5, 0/37.5, 2/37.5, 2/37.5, 0/37.5 */ }
  .card-front .card-people {
    box-shadow: 0 0.027rem 0.133rem 0rem #9876B3, 0 0.053rem 0.053rem 0rem #9876B3;
    /* 1/37.5, 5/37.5, 0/37.5, 2/37.5, 2/37.5, 0/37.5 */ }
  .card-front .card-event {
    box-shadow: 0 0.027rem 0.133rem 0rem #40C1AD, 0 0.053rem 0.053rem 0rem #40C1AD;
    /* 1/37.5, 5/37.5, 0/37.5, 2/37.5, 2/37.5, 0/37.5 */ }

#card-result {
  white-space: nowrap;
  transition: transform .8s; }
  #card-result li {
    width: 100%;
    vertical-align: top; }
    #card-result li img {
      height: 2.293rem;
      /* 86/37.5 */ }

.card-list {
  margin-left: -0.225rem; }
  .card-list li {
    position: relative;
    width: 1.73rem;
    height: 2.4rem;
    background-color: #fff;
    border: 1px solid #8D99A7;
    border-radius: 0.32rem;
    overflow: hidden;
    margin-left: 0.225rem; }
    .card-list li .card {
      transition: opacity .8s, transform .8s;
      opacity: 1;
      pointer-events: auto; }
    .card-list li.empty .card {
      opacity: 0;
      pointer-events: none; }
    .card-list li .card {
      border-radius: 1.5rem;
      top: -2.693rem;
      /* -101/37.5 */
      left: -2.133rem;
      /* -80/37.5 */
      transform: scale(0.31); }

#dialog-layout {
  position: absolute;
  top: 3.84rem;
  /* 144/37.5 */
  left: 50%;
  margin-left: -3.8rem;
  /* -285/37.5 */
  width: 7.6rem;
  height: 4.8rem;
  /* 180/37.5 */
  background-color: #fff;
  border-radius: 0.373rem;
  /* 14/37.5 */
  text-align: center;
  white-space: normal;
  transition: opacity .8s; }
  #dialog-layout.hide {
    opacity: 0;
    pointer-events: none; }
  #dialog-layout header {
    font-size: 0.48rem;
    /* 18/37.5 */
    line-height: 1.173rem;
    /* 44/37.5 */ }
  #dialog-layout input {
    display: inline-block;
    margin: 0.16rem 0 0.8rem;
    /* 6/37.5, 30/37.5 */
    width: 6.507rem;
    /* 244/37.5 */
    height: 0.88rem;
    /* 33/37.5 */
    text-align: center;
    border: 0.027rem solid #919191;
    /* 1/37.5 */
    border-radius: 1rem;
    outline: none; }
  #dialog-layout #dialog-submit {
    margin-left: 0.24rem;
    /* 9/37.5 */ }

#share-layout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  text-align: center;
  transition: opacity .5s;
  pointer-events: auto; }
  #share-layout.hide {
    opacity: 0;
    pointer-events: none; }
  #share-layout::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  #share-layout img:first-of-type {
    vertical-align: middle;
    width: 3.333rem;
    /* 125/37.5 */
    height: 5.04rem;
    /* 189/37.5 */ }
  #share-layout img:last-of-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.347rem;
    /* 88/37.5 */
    height: 4.267rem;
    /* 160/37.5 */ }
  #share-layout p {
    position: absolute;
    top: 50%;
    margin-top: 3rem;
    width: 100%;
    color: #fff;
    font-size: 0.64rem;
    /* 24/37.5 */ }

#black-layout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  opacity: 1;
  pointer-events: auto;
  transition: opacity .8s; }
  #black-layout.hide {
    opacity: 0;
    pointer-events: none; }

/*# sourceMappingURL=index.css.map */
